* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.section {
  padding: 8rem 0 7rem;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.social-icon {
  margin: 0.9rem;
}

.social-icon a, .social-icon a:visited {
  color: #0f0f0f;
}

.social-icon a:hover {
  color: #801010;
}

.main {
  background-image: url(../images/background0.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} 

.spacer {
  background-image: url(../images/background1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2em;
} 

.fancy {
  box-shadow: 2px 2px 2px #aaa;
}